extends ../profile.pug

block profile 
    .info
        .info-field 
            p Email
            a.value email@email.com
        hr
        .info-field
            p Login
            a.value vladlogin
        hr
        .info-field 
            p First Name
            a.value Vlad 
        hr
        .info-field
            p Second Name
            a.value Vladov
        hr
        .info-field 
            p Display Name
            a.value VladVladov
        hr
        .info-field
            p Phone
            a.value +7 (777) 777 77 77
    .links
        a(href="./../profile-page/profile-page.html" class="btn") Save