.list {
  display: flex;
  flex-direction: column;
  min-width: 30rem;
  height: 100%;
  width: 10%;
  background-color: #fbfbfb;
  border-left: 2.2px solid #d6dadc;
  border-right: 2.2px solid #d6dadc;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list::-webkit-scrollbar,
.chat-messages::-webkit-scrollbar {
  width: 0.7rem;
}

.list::-webkit-scrollbar-track,
.chat-messages::-webkit-scrollbar-track {
  background: #d6dadc;
}

.list::-webkit-scrollbar-thumb,
.chat-messages::-webkit-scrollbar-thumb {
  background: #0984e3;
  border-radius: 5rem;
}

.list a {
  margin: 0.2rem 0;
  font-size: 1.4rem;
  position: relative;
  left: 70%;
  color: black;
  background: none;
}

.list a:hover {
  cursor: pointer;
  background: none;
}

.list .field {
  position: relative;
  left: 0.55rem;
  margin: 0 0 20px;
  padding: 5px 2px;
  border-bottom: none;
  background-color: #efefef;
}

.list .field::placeholder {
  font-size: 1.3rem;
  font-weight: bold;
  opacity: 0.8;
  text-align: center;
}

.list .friend-list .friend {
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  width: 35rem;
}

.list .friend-list .friend .image {
  width: 14%;
  height: 5rem;
  border-radius: 50%;
  margin-left: 0.5rem;
  background-image: url(../../assets/pic.png);
  background-size: cover;
}

.list .friend-list .last-message {
  position: relative;
  bottom: 5rem;
  font-size: 1.2rem;
  font-weight: bold;
  left: 7.5rem;
  opacity: 70%;
  pointer-events: none;
}

.friend .info {
  margin-left: 2rem;
}

.friend .info h4 {
  font-size: 1.6rem;
}

.friend .info p {
  font-size: 1.3rem;
  font-weight: bold;
  opacity: 0.6;
}

.time {
  margin-left: 9.5rem;
  position: relative !important;
  top: -8.25rem;
  left: 13rem !important;
  visibility: hidden;
  pointer-events: none;
}

.friend:hover {
  cursor: pointer;
  /* transform: scale(0.9); */
  background: rgb(253,255,255);
  background: linear-gradient(0deg, rgba(253,255,255,1) 25%, rgba(70,159,227,1) 100%);
}

.chat {
  width: 90%;
  height: 100%;
  border-right: 2.2px solid #d6dadc;
}

.chat .chat-user {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 1rem 39rem;
  height: 5rem;
  z-index: 5000;
}

.chat .chat-user .field {
  position: relative;
  max-height: 3rem;
  margin: 5px 5px;
  padding: 5px 2px;
  border-bottom: none;
  border-radius: 2rem;
  text-align: center;
  background-color: #efefef;
}

.chat .chat-user .btn {
  max-height: 3.1rem;
  margin: 0.4rem 0;
  font-size: 1.4rem;
  position: relative;
  padding: 0.7rem 2rem;
  border-radius: 1rem;
}

.chat .chat-messages {
  position: relative;
  height: 100%;
  padding: 5rem 0rem;
  margin-top: -5%; 
  overflow-y: scroll;
}

.chat .messages {
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  bottom: 5rem;
  margin: 0 auto;
  height: 95%;
  display: flex;
}

.chat .messages div {
  padding: 1rem 0rem;
}

.chat .users-message {
  padding: 14px 5px;
  margin: 7px 20px;
  width: fit-content;
  border: 1px solid #e9e9e9;
  border-radius: 1rem;
  color: rgb(11, 8, 8);
}

.chat .your-message {
  display: flex;
  align-items: flex-end;
  position: sticky;
  padding: 14px 2px;
  margin: 7px 20px;
  margin-left: auto;
  width: fit-content;
  border: 1px solid #e9e9e9;
  border-radius: 1rem;
  color: rgb(59, 58, 58);
}

.chat .messages p {
  opacity: 0.7;
  letter-spacing: 0.2rem;
}

.chat .line {
  position: absolute;
  width: 100%;
  bottom: 5.35rem;
}

.chat .message-input {
  background-color: #fbfbfb;
  position: fixed;
  bottom: 0;
  padding: 2.7rem 0;
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: flex-start;
}

.chat .message-input .field {
  background-color: #efefef;
  border-radius: 10px/20px;
  border-bottom: none;
  padding: 12px 2px;
  position: relative;
  left: 1rem;
  bottom: 1.1rem;
  width: 75%;
}

.chat .message-input .field::placeholder {
  font-size: 1.3rem;
  font-weight: bold;
  opacity: 0.8;
  text-align: center;
}

.chat .message-input a {
  margin-left: 2.5rem !important;
  margin-bottom: 0.3rem !important;
  position: fixed !important;
  bottom: 0.85rem !important;
  right: -0.7rem;
  background: url(../../assets/button.png) 20% 100% no-repeat;
  height: 10%;
}

.chat .message-input .btn .link:hover {
  cursor: pointer;
}

.new-chat {
  padding: 1.5rem 0rem;
}

.new-chat .field {
  width: 75%;
}

.new-chat .btn {
  bottom: 61% !important;
}

.new-chat .btn:hover {
  cursor: pointer;
}

.chat .chat-messages .loader {
  display: none;
}

