extends ../profile.pug

block profile 
        ul.info
            li.info-field 
                p Old Password
                a.value *******
            hr
            li.info-field
                p New Password
                a.value ***
            hr
            li.info-field 
                p Repeat Password
                a.value *********
        a(href="./../errors/500.html" class="btn") Save