extends ../profile.pug

block profile 
        .info
            .info-field 
                p Old Password
                a.value *******
            hr
            .info-field
                p New Password
                a.value ***
            hr
            .info-field 
                p Repeat Password
                a.value *********
                .links
        a(href="profile-page.html" class="btn") Save