a(href="../profile/profile-page.html" class="profile") Profile >
input(type="search" placeholder="Search" class="field")
.friend-list
    // это в качестве заглушки
    hr
    include includes/friend.pug
    hr
    include includes/friend.pug
    hr
    include includes/friend.pug
    hr
    include includes/friend.pug
    hr
    include includes/friend.pug
    hr
    include includes/friend.pug
    hr
    include includes/friend.pug
    hr
    include includes/friend.pug
    hr
    include includes/friend.pug
    hr
    include includes/friend.pug
    hr
    include includes/friend.pug
    hr
    include includes/friend.pug
    hr