extends ../../base/base-all.pug

block content 
    .wrapper
        include includes/sidebar.pug
        .profile-main
            a(href="./../errors/404.html")
                .circle
                    img(src="./../../assets/union.png")
                    p Change avatar
                block profile