extends ../../base/base-all.pug

block content 
    .wrapper
        include includes/sidebar.pug
        .profile-main
            .circle
                img(src="./../../assets/union.png")
                p Change avatar
            block profile