.sidebar {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100%;
    background-color: #fbfbfb;
    border-left: 2.2px solid hsl(200, 8%, 85%);
    border-right: 2.2px solid hsl(200, 8%, 85%);
    overflow-y: hidden;
    overflow-x: hidden;

    .sidebar-image {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        right: .5rem;
        width: 50%;
        height: 100%;
        align-self: center;
        transform: scaleX(-1);

        img {
            width: 4rem;

            &:hover {
                cursor: pointer;
            }
        }        
    }
}

.profile-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 74.8rem;
    border-right: 2.2px solid hsl(200, 8%, 85%);

    h4 {
        font-size: 1.7rem;
        margin: 1.7rem 0;
        display: flex;
        justify-content: center;
    }

    .info {
        margin: 2.5rem 0;

        .info-field {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            margin: 1rem;
            width: 40rem;
            font-size: 1.3rem;

            .value {
                opacity: 70%;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .links {
        display: flex;
        flex-direction: column;
        width: 41.5rem;
        margin: 2.5rem 0;

        .link {
            margin: 1rem;
            font-size: 1.3rem;
            color: #0984e3;           
        }
    }
}

.circle {
    background-color: hsl(204, 3%, 63%);
    border-radius: 60px;
    width: 12rem;
    height: 12rem;
    margin: 4rem auto;
    opacity: 60%;

    p {
        margin: 0 auto;
        position: relative;
        top: 7rem;
        left: 2.5rem;
        color: black;
    }

    img {
        width: 5rem;
        height: 5rem;
        position: relative;
        left: 3.5rem;
        top: 3.5rem;
    }

    &:hover {
        cursor: pointer;
        opacity: 80%;
    }
}


