extends ../profile.pug

block profile 
    h4 Name
    .info
        .info-field 
            p Email 
            p.value email@email.com
        hr
        .info-field
            p Login 
            p.value vladlogin
        hr
        .info-field 
            p First Name
            p.value Vlad 
        hr
        .info-field
            p Second Name 
            p.value Vladov
        hr
        .info-field 
            p Display Name 
            p.value VladVladov
        hr
        .info-field
            p Phone 
            p.value +7 (777) 777 77 77
    .links
        a(href="./../profile-change/profile-change.html" class="link") Change data
        hr
        a(href="./../profile-password/profile-password.html" class="link") Change password
        hr
        a(href="./../../index.html" class="link") Exit