extends ../../base/base-all.pug

block content
    .wrapper
        .list
            include includes/list.pug
        .chat 
            .messages 
                p Something will be here
            hr.line
            .message-input 
                input(type="text" placeholder="Message" class="field")
                img(src="./../../assets/button.png")